In [1]:
import pandas as pd

In [2]:
from pathlib import Path

In [3]:
import fuzzymatcher as fm

In [4]:
import fuzzywuzzy as fw

In [ ]:
import recordlinkage as rl

In [5]:
fuzzymatch1 = pd.read_csv('match1.csv')

In [6]:
fuzzymatch2 = pd.read_csv('match2.csv')

In [7]:
left_on = ["Batch","SCID","REFERENCE CODE","Names"]

right_on = ["Batchno","SC NO.","REFCODE","Fullname"]

In [8]:
df = ('matched_results')

In [9]:
matched_results = fm.fuzzy_left_join(fuzzymatch1,
                                            fuzzymatch2,
                                            left_on,
                                            right_on,
                                            left_id_col='Names',
                                            right_id_col='Fullname')

In [10]:
cols = [
    
    "best_match_score","Batch","Batchno","SCID","SC NO.","REFERENCE CODE","REFCODE",
    "Names","Fullname"
]

matched_results[cols].sort_values(by=['best_match_score'], ascending=False).head(5)

,best_match_score,Batch,Batchno,SCID,SC NO.,REFERENCE CODE,REFCODE,Names,Fullname
101042,0.619780,1,NaN,6088,6088.0,VAL-0048627,NaN,SALVADO BRIGIDA TABUR 10/08/1953,SALVADO BRIGIDA TABUR 10/08/1953
85726,0.454588,1,NaN,6324,6324.0,VAL-0041156,NaN,TABNAGCURA MERLINDA LACTAM 5/29/1956,TABANGCURA MERLINDA LACTAM 05/29/1956
508242,-0.073307,94,NaN,9301,3049.0,VAL-0238099,NaN,PACULAN AGNES DELA CRUZ 04/04/1958,DELA CRUZ AGNES SILVINO 05/05/1959
527019,-0.118898,95,NaN,NaN,3049.0,VAL-0245354,NaN,ESTRADA DELIA DELA CRUZ 5/24/1953,DELA CRUZ AGNES SILVINO 05/05/1959
626227,-0.120439,108,NaN,267,3049.0,VAL-0282121,NaN,DELA CRUZ JOSEFINA ECHANES 5/24/1948,DELA CRUZ AGNES SILVINO 05/05/1959

In [11]:
matched_results[cols].query("best_match_score <= .80").sort_values(
    by=['best_match_score'], ascending=False).head(5)

,best_match_score,Batch,Batchno,SCID,SC NO.,REFERENCE CODE,REFCODE,Names,Fullname
101042,0.619780,1,NaN,6088,6088.0,VAL-0048627,NaN,SALVADO BRIGIDA TABUR 10/08/1953,SALVADO BRIGIDA TABUR 10/08/1953
85726,0.454588,1,NaN,6324,6324.0,VAL-0041156,NaN,TABNAGCURA MERLINDA LACTAM 5/29/1956,TABANGCURA MERLINDA LACTAM 05/29/1956
508242,-0.073307,94,NaN,9301,3049.0,VAL-0238099,NaN,PACULAN AGNES DELA CRUZ 04/04/1958,DELA CRUZ AGNES SILVINO 05/05/1959
527019,-0.118898,95,NaN,NaN,3049.0,VAL-0245354,NaN,ESTRADA DELIA DELA CRUZ 5/24/1953,DELA CRUZ AGNES SILVINO 05/05/1959
626227,-0.120439,108,NaN,267,3049.0,VAL-0282121,NaN,DELA CRUZ JOSEFINA ECHANES 5/24/1948,DELA CRUZ AGNES SILVINO 05/05/1959

In [12]:
df = pd.DataFrame(matched_results)

In [13]:
df.to_csv('result.csv')